.status-bar .cursor-leader-status {
  cursor: default;

  & .icon::before {
    margin-right: 0;
  }

  & .power {
    color: var(--text-color-success);
  }
}

lumine-text-editor .cursors .cursor.cursor-leader-highlight {
  border-left-color: var(--text-color-error);
}

lumine-text-editor.overtype-cursor .cursors .cursor.cursor-leader-highlight {
  border: 1px solid var(--text-color-error);
  background-color: color-mix(in srgb, var(--text-color-error) 20%, transparent);
}

lumine-text-editor.overtype-cursor .cursors.blink-off .cursor.cursor-leader-highlight {
  border: none;
}
